	.font-size-40{
		font-size: 40px;
	}
	.font-size-70{
		font-size: 70px;
	}
	.font-family-PTS75F{
		font-family: "PTS75F";
	}
	div#page-intro{
		padding: 0 !important;
	}
	div#text-intro{
		background-image: linear-gradient(#01c9ed,#395b9a);
		font-family: Rondalo;
		font-size: 25px;
		text-align: justify;
		/*height: 625px;*/
		padding: 0 25px;
	}
	div#text-intro div#sub-text-intro{
		width: 90%;padding: 30px 30px 0px 100px;
	}
	@media(max-width:425px) {
		div#text-intro div#sub-text-intro{
			padding: 0;
	    	width: 100%;
		}
		div#text-intro{
			padding: 20px;
		}
	}
	div#text-intro p.p-text-intro{
		color: #1c1464;
	}
	div#text-intro p.p-text-intro-2{
		color: #ffffff;
	}
	div#text-intro div div#div-button-readmore{
		padding: 0;
	}
	div#text-intro div a#button-text-intro{
		border: 5px solid #007175 !important;
		color: #0e787d !important;
		font-family: "PTS75F";
		font-size: 15px;
		text-transform: uppercase;
		text-decoration: none;
		background: #ffffff;
		padding: 10px 25px;
		display: inline-block;
		transition: all 0.4s ease 0s;
	}
	div#right-text-intro{
		padding: 0 25px;
	}
	div#right-text-intro img#image-text-intro{
		width: 390px;
	    height: 585px;
	    margin-top: -445px;
	}
	@media(max-width:1024px) {
			div#right-text-intro img#image-text-intro{
			width: 390px;
		    height: 585px;
		    margin-top: -445px;
		}
	}
	div#right-text-intro div#rcorners1 {
	  border: 5px solid #73AD21;
	  border-radius: 50%;
	  border-color: #c9057d;
	  background-color:#c9057d;
	  width: 410px;
	  height: 410px;
	  font-family: "PTS75F";
	  margin-left: -95px;
	  margin-top: 50px;
	}
	div#right-text-intro div#rcorners1 div#sub-rcorners1 div{
	  position: relative; 
	  text-align: center; 
	  padding-top:2%; 
	  color: #ffffff; 
	  font-family: Rondalo; 
	  transform: rotate(-15deg);
	}
	div#div1-sub-rcorners1{
		margin-left: -80px;
	}
	div#div2-sub-rcorners1{
		margin: -30px 0 0 -30px;
	}
	div#div3-sub-rcorners1{
		margin:-40px 0 0 0;
	}
	div#div4-sub-rcorners1{
		margin: -30px 0 0 30px;
	}
	div#right-text-intro div#rcorners1 div#sub-rcorners1 div#img-sub-rcorners1 img {
	  	transform: rotate(12deg);
	  	width: 300px;
    	margin-left: 65px;
	  	position: relative;
	  	padding: 0 0 0 12px;
	}
	div.font-rcorners1-1{
		
	}
	div.font-rcorners1-1#mrg1{
		margin-top: -10px;
	}
	div.font-rcorners1-2{
		
	}

	div#row2{
		padding-bottom: 50px;
	}
	div#page-testimoni{
		margin-top: 30px;
	    padding: 0;
	}
	div#left-testimoni{
		font-family: Rondalo;text-align: center;
	}
	div#left-testimoni div#rcorners2 {
	  border-radius: 50%;
	  border: 4px solid #0e787d;
	  color: #0e787d;
	  width: 200px;
	  height: 200px;
	  font-family: "PTS75F";
	}
	div#rcorners2 {
	  border-radius: 50%;
	  border: 4px solid #0e787d;
	  color: #0e787d;
	  width: 200px;
	  height: 200px;
	  font-family: "PTS75F";
	}
	div#left-testimoni div#rcorners2 div#number-left-testimoni{
	  padding:40px 0 0 0;
	  margin:0 -10px 0 15px;
	  float: left;
	  font-size: 80px;
	}
	div#left-testimoni div#rcorners2 div#font-left-testimoni{
		padding-top:50px;
	  	font-size: 40px;
	}
	div#left-testimoni div#rcorners2 div#font-left-testimoni span#sub-font-left-testimoni{
	  	font-size: 55px;
	}

	div#left-testimoni div#font-left-testimoni-2{
		margin-top: 40px;
		margin-bottom: 25px;
	}
	div#left-testimoni div#font-left-testimoni-2 div{
		color: #c9057d;
	}
	div#div2-font-left-testimoni-2{
		margin-top: -20px;
	}
	div#div-img-font-left-testimoni-2{
		margin-top: -20px;
	}
	div#left-testimoni div#font-left-testimoni-2 div img{
		width: 50px;
	}
	div#left-testimoni a#button-left-testimoni{
		border: 5px solid #c9057d !important;
		color: #c9057d !important;
		font-family: "PTS75F";
		font-size: 15px;
		text-transform: uppercase;
		text-decoration: none;
		background: #ffffff;
		padding: 10px 25px;
		display: inline-block;
		transition: all 0.4s ease 0s;
	}
	div#right-testimoni{
		background-color:#eff5f5;
		margin-top: -30px;
	}
	div#right-testimoni div#font-right-testimoni{
		/*margin-bottom: 40px;*/
	}
	div#right-testimoni div#font-right-testimoni span#span1-font-right-testimoni{
		color: #0e787d !important;font-family: sans-serif;font-size: 60px;
	}
	div#right-testimoni div#font-right-testimoni span#span2-font-right-testimoni{
		color: #0e787d !important;font-family: Rondalo;font-size: 40px;
	}
	div#right-testimoni div#img-right-testimoni img{
		z-index: -1;
	}
	div#right-testimoni div#font2-right-testimoni{
		margin-top:-290px;margin-left: 45px;
	}
	div#right-testimoni div#font2-right-testimoni div{
		position: relative;
		border: 1px solid #0e787d !important;
		text-align: center;
		width: 140px;
		height: 110px;
		padding-top: 10px;
	}
	div#right-testimoni div#font2-right-testimoni div span{
		color: #0e787d !important;font-family: Rondalo;font-size: 35px;
	}
	div#right-testimoni div#font2-right-testimoni div span span{
		font-size: 30px;
	}
	div#right-testimoni div#font3-right-testimoni{
		margin-top: 20px;
	}
	div#right-testimoni div#font3-right-testimoni div#rcorners2{
		position: relative;border-color: #c9057d;color: #c9057d;width: 200px;height: 200px;
	}
	div#right-testimoni div#font3-right-testimoni div#rcorners2 div{
		position: relative;text-align: center;font-size: 40px;padding-top: 10px
	}
	div#right-testimoni div#font3-right-testimoni div#rcorners2 div div{
		margin-left: 0px;
	}
	span#plus-font3-right-testimoni{
		font-size: 60px;
	}
	span#number-font3-right-testimoni{
		padding-top: 10px;font-size: 80px;margin-left: -15px;
	}
	div#div-font3-right-testimoni{
		float: right;margin-left: 0px;
	}
	span#span-div-font3-right-testimoni{
		font-size: 55px;margin-right: 15px;
	}
	div#perdus-font3-right-testimoni{
		margin-top: -25px;
	}
	div#sub-div-right-testimoni{
		margin-top: 50px;
	}
	a#a-sub-div-right-testimoni{
		background-color:#c9057d;border: 5px solid #c9057d !important;color: #ffffff !important;padding: 10px 150px;font-size: 25px;margin-left: -650px;position: relative;text-decoration: none;
	}
	div#right-testimoni a#button-right-testimoni{
		border: 5px solid #0e787d !important;
		color: #0e787d !important;
		font-family: "PTS75F";
		font-size: 15px;
		text-transform: uppercase;
		text-decoration: none;
		background: #ffffff;
		padding: 10px 25px;
		display: inline-block;
		transition: all 0.4s ease 0s;
		margin-top: 50px;
	}

	div#curva-dukan div#div1-curva-dukan{
		background-color:#0e787d;font-family: Rondalo;
	}
	div#curva-dukan img#img-curva-dukan{
		width: 100%;padding-top: 20px;
	}
	div#curva-dukan div#div3-curva-dukan{
		color: #ffffff;
	}
	div#curva-dukan div#div3-curva-dukan #font-p-div3-curva-dukan{
		font-size: 40px;
	}
	div#curva-dukan div#div3-curva-dukan #font2-p-div3-curva-dukan{
		font-size: 65px;
	}
	div#curva-dukan div#div3-curva-dukan div.sub-div3-curva-dukan{
		margin: 20px 0 40px 0;
	}
	.font-sub3-div-curva-dukan{
		font-size: 30px;
	}

	div#page-sos{
		font-family: Rondalo;
	}

	div#left-sos img{
		width: 110%;margin-left: 40px;margin-right: 60px;position: relative;
	}
	div#left-sos {
		/*margin-top: 30px;*/
	}
	div#right-sos {
		/*margin-top: 30px;*/
	}
	div#right-sos div a#button-right-sos{
		border: 4px solid #e20026 !important;
		background-color: #e20026;
		color: #ffffff !important;
		font-family: Rondalo;
		text-transform: none;
		text-decoration: none;
		padding: 20px 10px 5px 10px;
		margin-top: 30px;
	}
	div#left-sos div a#button-right-sos span#bouton-sos{
		font-size: 25px;
	}
	div#left-sos div a#button-right-sos span#sos-sos{
		font-size: 35px;
	}

	div#row-premium{
		padding: 0;
	}
	div#left-premium-vers{
		background-color:#c9057d;font-family: Rondalo;color: #ffffff;height: 100%;
		padding: 0;
	}
	div#left-premium-vers div#sub1-left-premium-vers{
		padding: 25px 0 15px 45px;
	}
	div#left-premium-vers div#sub1-sub1-left-premium-vers span{
		font-size: 40px;
	}
	div#left-premium-vers span#span-sub2-left-premium{
		font-size: 40px;
	}
	div#left-premium-vers span#sub-span-sub2-left-premium{
		font-size: 60px;
	}
	div#left-premium-vers div#sub3-sub1-left-premium-vers{
		margin-left: 20px;
	}
	div#left-premium-vers div#sub3-sub1-left-premium-vers ul#bulletblue{
		overflow: visible;margin-left: -45px;
	}
	.li-bulletblue-sub3-sub1-left-premium-vers{
		margin-bottom: 20px;
	}
	.li-bulletblue-sub3-sub1-left-premium-vers div.div-li-bulletblue-sub3-sub1-left-premium-vers{
		width: 550px;font-size: 25px;
	}
	div#div1-li-bulletblue-sub3-sub1-left-premium-vers{
		margin-bottom: 10px;
	}
	div#div2-li-bulletblue-sub3-sub1-left-premium-vers img{
		width: 400px;margin-left: -15px;
	}
	div#div3-li-bulletblue-sub3-sub1-left-premium-vers ul{
		margin-left: -40px;
	}
	div#div3-li-bulletblue-sub3-sub1-left-premium-vers ul table#table-left-premium-vers{
		/*width: 100%;*/
	}
	div#div3-li-bulletblue-sub3-sub1-left-premium-vers ul table#table-left-premium-vers tr{
		height: 50px;
	}
	.font-sans-serif-table-left-premium-vers{
		font-family: sans-serif;font-weight: bold;
	}
	a.button-left-premium-vers{
		border: 5px solid #0e787d !important;color: #0e787d !important;padding: 5px;font-weight: bold;background-color: #ffffff;text-decoration: none;font-size: 14px;
	}
	li#last-li-bulletblue{
		margin-bottom: 18px;
	}
	li#last-li-bulletblue div{
		font-size: 25px;
	}

	div#right-premium-vers{
		font-family: Rondalo;
		height: 700px;
		background-size: 100%;
		padding: 0;
	}
	div#right-premium-vers img{
		position: absolute;
		width: 100%;
    	height: max-content;
	}
	div#right-premium-vers div#div1-right-premium-vers{
		padding: 0,0,0,15px;margin-top: 25px;margin-left: 15px;
	}
	div#right-premium-vers div#div1-right-premium-vers p{
		color: #ffffff;font-family: PTS76F;font-size: 25px;position: relative;
	}
	div#right-premium-vers div#div2-right-premium-vers{
		border-color: #ffffff;color: #ffffff;margin-top: -25px;margin-left: 35px;width: 180px;height: 180px;
		border-radius: 50%;
		border: 4px solid #ffffff;
		color: #ffffff;
		font-family: "PTS75F";
		position: relative;
	}
	div#right-premium-vers div#div2-right-premium-vers div{
		position: relative;text-align: center;padding-top:15px;transform: rotate(-15deg);max-width: 170px;
	}
	#font1-div2-right-premium-vers{
		font-size: 70px;
		position: relative;
	}
	#font2-div2-right-premium-vers{
		font-size: 30px;
		position: relative;
	}

	div#div3-right-premium-vers{
	    margin-top: 10px;
	}
	div#div3-right-premium-vers a{
		border: 5px solid #c9057d !important;
		color: #c9057d !important;
		padding: 10px 15px;
		font-weight: bold;
		background-color: #ffffff;
		font-family: PTS75F;
		text-decoration: none;
	    margin-top: 10px;
	    position: relative;
	}
	div#right-sos span#span1-button-right-sos{
		font-size: 25px;
	}
	div#right-sos span#span2-button-right-sos{
		font-size: 35px;
	}
	div#right-sos div#div2-right-sos{
		margin-top:10px;
	}
	div#right-sos div#div5-right-sos{
		margin-top: 100px;
	}
	div#right-sos div#div8-right-sos{
		margin: -140px 0 0 375px;
	}
	div#right-sos div#div8-right-sos img{
		width: 50%;
	}
	@media(min-width:1024px) {
		div#right-sos div#div8-right-sos img{
			width: 60%;
		    margin-left: -40px;
		    margin-top: -20px;
		}
	}
	div#right-sos .font-size-60{
		font-size: 60px;
	}
	div#right-sos .font-size-30{
		font-size: 30px;
	}
	div#right-sos .font-size-40{
		font-size: 40px;
	}
	div#right-sos .color-0e787d{
		color:#0e787d;
	}
	div#right-sos .color-c9057d{
		color:#c9057d;
	}

	div#img-sync{
		background-image:linear-gradient(#06bde4,#3b5998);font-family: Rondalo;width: 100%;height: 100%;
	}
	div#img-sync p{
		text-align: center;color: #ffffff;
	}
	div#img-sync p span#span1-img-sync{
		font-size: 60px;
	}
	div#img-sync p span#span2-img-sync{
		font-size: 40px;
	}
	div#img-sync div{
		margin-top: -20px;
	}
	div#img-sync div img{
		width: 100%;height: 500px;
	}