div#page-testimoni{
	font-family: Rondalo;
	background: #f2f3f5;
}
a#back2Left img{
	margin: 10px 0 0 30px;width: 20px;height: 40px;float: left;
}
div#page-testimoni div#page-header div#title-page-testimoni{
	font-size: 40px;text-align: center;margin: 10px 0 40px 0;color: #007176;
}
div#content-page-testimoni{
	color: #007176;font-size: 25px;padding-top: 0px;text-align: center;padding-bottom: 5px;
}
div#content-page-testimoni div.div-line{
	border: solid 2px;margin: 50px 0;
}
div.col-float-left{
	float: left;
}
div.box-testimoni{
	border: 1px solid #007176;width: 300px;padding: 30px;
}
div.image-testimoni{
	margin-top: 0px;
}
div.image-testimoni img{
	z-index: -1;width: 300px;
}
div.col-float-right{
	float: right;text-align: justify;
}
div.col-float-right div.text-testimoni{
	margin-right: 10px;
}
div.col-float-right div.link-plus{
	margin-right: 10px;
}
div.col-float-right div.link-plus a{
	color: #c9057d;text-decoration: underline;float: right;
}
div#div-back2Top p{
	margin: 0 100px 0 220px;padding-top: 100px;
}
a#back2Top img{
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 15px;
	border: 1px solid #007176 !important;
	padding: 10px 5px 10px 5px;
	border-radius: 3px;
}

div.font3-right-testimoni{
    margin-top: 0px;
    margin-right: 20px;
}
div.font3-right-testimoni div.rcorners2{
	position: relative;border-color: #c9057d;color: #c9057d;width: 200px;height: 200px;
}
div.font3-right-testimoni div.rcorners2 div{
	position: relative;
	/*text-align: left;*/
	font-size: 40px;
	padding-top: 10px;
}
div.font3-right-testimoni div.rcorners2 div div{
	/*margin-left: 0px;*/
}
span.plus-font3-right-testimoni{
	font-size: 60px;position: relative;
	margin-left: -40px;
}
span.number-font3-right-testimoni{
	padding-top: 10px;font-size: 80px;margin-left: -15px;
}
div.div-font3-right-testimoni{
	float: right;margin-left: 0px;
}
span.span-div-font3-right-testimoni{
	font-size: 55px;
}
span.span-font3-right-testimoni{
	margin-left: -30px;
    float: right;
    margin-top: 0px;
    margin-right: 5px;
}
div.perdus-font3-right-testimoni{
	margin-top: -35px;
	text-align: center;
	margin-left: 0px
}
div.rcorners2 {
    border-radius: 50%;
    border: 4px solid #0e787d;
    color: #0e787d;
    width: 200px;
    height: 200px;
    font-family: "PTS75F";
}