a#back2Top img{
	width: 60px;
    height: 50px;
    float: right;
    margin-top: -90px;
    border: 1px solid #4b4b4d !important;
    border-radius: 3px;
    padding: 5px;
}
a#back2Left img{
	margin: 60px 0 0 50px;width: 20px;height: 40px;float: left;
}
div#div-pargh-text-intro{
	background-image: linear-gradient(#06bde4,#3b5998);font-family: Rondalo;
}
div#div-pargh-text-intro div#pargh{
	color: #ffffff;font-size: 25px;padding:50px 0 0 0;margin: 0 0 0 150px;text-align: justify;text-align: justify;
}
div#p-back2Top p{
	margin: 0 100px 0 220px;padding-top: 100px;
}