input.form-control, 
textarea.form-control{
    border: solid 0.5px #28c1e3 !important;
}
#div-pargh-contact{
	background: #f2f3f5;
}
#main-content{
	color: #4b4b4d;
}
#main-content #title-main-content{
	text-align: center;color: #28c1e3;font-size: 50px;
}
#main-content #gender-main-content{
	text-align: center;
}
#main-content .margin-bottom-20px{
	margin-bottom: 20px;
}
#main-content #button-main-content{
	text-align: center;background: #28c1e3;border: solid 1px #28c1e3;color: #ffffff;padding: 10px 150px;font-weight: bold;
}