
/* PTS75F */
@font-face {
    font-family: "PTS75F";
    src: url("FONT/FONT/PTS75F.ttf");
}
/* PTS76F */
@font-face{
    font-family: "PTS76F";
    src:url("FONT/FONT/PTS76F.ttf");
}
/* Rondalo */
@font-face{
    font-family: "Rondalo";
    src:url("FONT/FONT/Rondalo.ttf");
}
/* Roboto Bold */
@font-face{
    font-family: "Roboto-Bold";
    src:url("FONT/FONT/Roboto-Bold.ttf");
}
html {
    scroll-behavior: smooth;
}

span#span-language{
    float: right;
}
span#span-language div#div-span-language{
    position: relative;background-color: #f2f3f5;width: 250px;border-radius: 5%;
}
span#span-language div#div-span-language a{
    margin-top: 4px;position: absolute;
    font-size: 15px;font-family: Roboto-Bold;color: #4f4f51;
    text-decoration: none;
}
span#span-language div#div-span-language img{
    height: 25px;margin-left: -13px;margin-right: 5px;
}

div.wrap nav{
    height: 100px;
}
div.wrap nav div.container{
    width: auto;
}
div.wrap nav ul li a{
    font-family: Roboto-Bold;
    margin-top: 50px;
}
@media(max-width:766px) {
    div.wrap nav ul li a{
        margin-top: 0;
    }
    div.wrap nav ul li:first-child a{
        margin-top: 10px;
    }
}
div.wrap nav.navbar-nav.navbar-left.nav ul li a{
    color: #c9057d;
}
div.wrap nav.navbar-nav.navbar-right.nav ul li a{
    color: #c9057d;
}
.navbar{
    margin-bottom: 0 !important;
}
.navbar-nav > .active > a{
    background-color: transparent !important;
    text-decoration: underline;
}
.navbar-nav.navbar-left li a{
    color: #c9057d !important;
    padding: 15px 0px;
}
@media(max-width:766px) {
    .navbar-nav.navbar-left li a{
        padding: 15px 15px 0 15px;
        background-color: #ffffff;
    }
    .navbar-nav.navbar-left li:first-child a{
        padding: 55px 15px 0 15px;
    }
}
.navbar-nav.navbar-left li a:hover{
    color: #4f4f51 !important;
}
@media(min-width: 767px){
    .navbar-nav.navbar-left li a:after{
        content: "|";
        color: #c9057d;
        display: inline-block;
        font-size: 100%;
        padding: 0 .5em;
    }
    .navbar-nav.navbar-left li:last-child a:after{
        content: " ";
        color: #c9057d;
        display: inline-block;
        font-size: 100%;
        padding: 0 .5em;
    }
}
.navbar-nav.navbar-right li a{
    color: #c9057d !important;
}
.navbar-nav.navbar-right li a:hover{
    color: #4f4f51 !important;
}

@media(min-width:1440px) {
    .navbar-nav.navbar-left{
        margin-top:0;
    }
    
}
@media(max-width:1427px) {
    .navbar-nav.navbar-left{
        margin-top:0px;
    }
    
}
@media(min-width:1180px) {
    .navbar-nav.navbar-left{
        margin-top:-25px;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
}
@media(min-width:1180px) and (max-width: 1427px) {
    .navbar-nav.navbar-right{
        margin-top:-25px;
    }
    
}
@media(min-width:1024px) {
    .navbar-nav.navbar-left{
        margin-top:0;
    }
    
}
@media(min-width:1232px) and (max-width: 1439px) {
    .navbar-nav.navbar-left{
        margin-top:0;
    }
    
}
@media(max-width:1231px) {
    .navbar-nav.navbar-left{
        margin-top:-25px;
    }
    
}
@media(min-width: 1185px) and (max-width:1231px) {
    .navbar-nav.navbar-left{
        margin-top:0;
    }
    
}
@media(min-width: 1132px) and (max-width:1179px) {
    .navbar-nav.navbar-right{
        margin-top:-25px;
    }
    
}
ul.navbar-nav.nav{
    background-color: #ffffff;
}
nav.navbar-default {
    background-color: #ffffff !important;
    border-color: #ffffff !important; 
}

/*logo*/
.navbar-brand img{
    width: 250px;
}

div#myModalLanguage div.modal-body{
    background: #f2f3f5;
}
div#myModalLanguage div.modal-header h4.modal-title{
    color: #007176;
}
.table#table-lang > tbody > tr > td{
    border-top: none;
}
.table#table-lang > tbody > tr > td > a{
    text-decoration: none;
    font-weight: bold;
}
.table#table-lang > tbody > tr > td > a > img{
    width:25px;
}

/* content */
div.wrap div.container-fluid{
    padding-top: 100px;
}

/* footer */
footer{
    margin: 3em;
}
footer table{
    width: 100%;
}
footer ul.pad-0{
    padding-left: 0;
}
footer ul a, footer ul a:link, footer ul a:visited{
    text-decoration: none;
    color: #4b4b4d;
    font-family: Roboto-Bold;
    font-size: 14px;
}
footer ul a:hover{
    color: #28c1e3;
}

footer div#div-button-contact{
    border: 5px solid #4b4b4d !important;
    color: #4b4b4d !important;
    font-family: "PTS75F";
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px 25px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
footer div#div-button-contact:hover{
    border: 5px solid #28c1e3 !important;
    color: #28c1e3;
}
footer div#div-button-contact a#button-contact-footer{
    text-decoration: none;
    color: #4b4b4d;
}

footer div.v1{
    border-left: 1px solid #5fa6a9 !important;
}
